/* global css */
.h5 {
  font-size: 1.4rem;
  line-height: 2.1rem;
  font-weight: 500;
}

/* contents */
.contents {
  gap: 12px;
  display: flex;
  flex-direction: column;
}

/* Details */
.details {
  width: 100%;
}

.count {
  color: black;
}

.details__header,
.details__row {
  height: 56px;
  display: flex;
  border-bottom: 1px solid var(--gray-05);
}

.details__title {
  flex-grow: 1;
  padding: 0 10px;
  display: flex;
  align-items: center;
}

.details__registration-date {
  width: 140px;
  padding: 0 10px;
  display: flex;
  align-items: center;
}

.details__mileage {
  width: 100px;
  padding: 0 10px;
  display: flex;
  align-items: center;
}

/* Pagination */
.pagination {
  display: flex;
  justify-content: flex-end;
  gap: 6px;
  margin-top: 12px;
}

.pagination button {
  /* border: none; */
}

.pagination button.active {
  background-color: var(--color-pri-normal);
  color: white;
}

.pagination button:hover:not(.active) {
  border-radius: 5px;
  cursor: pointer;
}

/* 테블릿 버전 */
@media screen and (max-width: 900px) {
  .pagination {
    justify-content: center;
  }
}

/* 모바일 버전 */
@media screen and (max-width: 600px) {
  .details__registration-date {
    width: 80px;
  }

  .details__mileage {
    width: 50px;
  }
}