.pagination {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 6px;
  margin-top: 12px;
}
.pageNumber__btn {
  background: none;
  border: none;
}
.pageNumber__btn.active {
  background-color: var(--color-pri-normal);
  color: var(--color-white);
}

/* 테블릿 버전 */
@media screen and (max-width: 900px) {
  #pagination {
    justify-content: center;
    outline: 1px solid red;
  }
}
/* 미디어 쿼리 */
@media (max-width: 600px) {
  .pagination {
    justify-content: center;
  }
}
