.page__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  margin-bottom: 4px;
}

.page__body {
  display: flex;
  align-items: center;
  align-self: stretch;
  flex-direction: row;
  background-color: var(--color-white);
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 8px;
}

.page__body .info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 16px;
  align-self: stretch;
}

.info .info__first {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.info__first .info__name {
  margin-right: 10px;
}

.info__second {
  color: var(--gray-08);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  line-height: 150%;
  letter-spacing: 0.15px;
}

.info__second .section1,
.info__second .section2 {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.info__second .email {
  margin-right: 24px;
}

/* 모바일 */
@media (max-width: 599px) {
  .info__second {
    display: flex;
    flex-direction: column;
  }
}

/* 타블렛 */
@media (min-width: 600px) and (max-width: 1023px) {
  .info__second {
    display: flex;
    flex-direction: column;
  }
}

/* 데스크탑 */
@media (min-width: 1024px) {
}
