div.contents {
  display: flex;
  padding: 16px 24px;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  flex: 1 0 0;
  align-self: stretch;
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: var(--1, 8px);
  align-items: flex-start;
  align-self: stretch;
}
.content__row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: var(--1, 8px);
  align-items: center;
  align-self: stretch;
}
.tabs {
  display: flex;
  width: var(--xs, 444px);
  align-items: flex-start;
}
.tab_content {
  display: none;
}
.tab_content.active {
  display: block;
}
.tab_link {
  flex: none;
  padding: 10px 20px;
  cursor: pointer;
  border: none;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.tab_link.active {
  color: var(--color-pri-light, #64c99c);
  border-bottom: 4px solid var(--color-pri-light, #64c99c);
}

.data__container {
  display: flex;
  align-items: center;
}
/*
.tab_content {
  width: 100%;
}
table {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  align-self: stretch;
}
table thead {
  display: flex;
  height: 38px;
  padding: var(--none, 0px) 12px;

  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  text-align: left;

  border-radius: 6px;
  background: var(--pri-normal, #40b883);
  color: var(--gray-01, #fcfcfc);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.06);
}
tbody {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: flex-start;
  align-self: stretch;
  cursor: pointer;
}

tbody tr.title {
  display: flex;
  height: 38px;
  padding: 0px 12px;
  justify-content: space-between;
  align-items: center;
  text-align: left;
  border-radius: 6px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.06);
}
tbody td {
  flex: 1 0 0;
  padding: 12px;
  border-bottom: 1px solid var(--gray-04);
}
table tr,
table th {
  display: flex;
  width: 100%;
}
th .menu__type,
td .menu__type {
  width: 10%;
}

th .menu__title,
td .menu__title {
  width: 35%;
}

th .menu__user,
td .menu__user {
  width: 15%;
}

th .menu__reason,
td .menu__reason {
  width: 30%;
}

th .menu__date,
td .menu__date {
  width: 15%;
}
  */
.pagination {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.pagination button {
  background: none;
  border: none;
}
.pageNumber__btn.active {
  background: var(--pri-normal, #40b883);
  color: var(--gray-01, #fcfcfc);
}

label {
  text-align: left;
}
.modal__content {
  margin: 15% auto;
  border: 1px solid var(--gray-07, #8a8d93);
  width: 80%;
  max-width: 500px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  padding: 20px;
}
.close__btn {
  color: var(--gray-07, #8a8d93);
  float: right; /*오른쪽으로 정렬*/
  font-size: 28px;
  font-weight: bold; /*글자 굵기 : 굴은 글꼴 */
  cursor: pointer;
}

.close__btn:hover,
.close__btn:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal h2 {
  margin-top: 0;
}

.modal label {
  display: block;
  margin-top: 10px;
}

.modal__content div .category,
.modal__content div .title,
.modal__content div .user,
textarea,
input[type="date"] {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  box-sizing: border-box;
  border: 1px solid var(--gray-04);
  border-radius: 4px;
}
.modal__content div .category,
.modal__content div .title,
.modal__content div .user {
  text-align: left;
}

textarea {
  resize: none;
}

.data__container {
  display: flex;
  align-items: center;
}

.submit__Btn {
  background: var(--pri-normal, #40b883);
  color: var(--gray-01, #fcfcfc);
  padding: 15px 20px;
  margin-top: 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  font-size: 16px;
}
.submit__Btn:hover {
  background-color: var(--pri-dark, #39a374);
  cursor: pointer;
}
.refuse__Btn {
  background: var(--gray-01, #fcfcfc);
  color: var(--pri-normal, #40b883);
  padding: 15px 20px;
  margin-top: 20px;
  border: 1px solid var(--pri-normal, #40b883);
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  font-size: 16px;
}
.refuse__Btn:hover {
  background-color: var(--gray-05, #d4d6de);
  cursor: pointer;
}
.modalHidden {
  display: none;
}
@media (max-width: 600px) {
  thead th:nth-child(3),
  thead th:nth-child(4),
  thead th:last-child,
  tbody td:nth-child(3),
  tbody td:nth-child(4),
  tbody td:last-child {
    display: none;
  }
  thead th:first-child,
  tbody td:first-child {
    width: 60px;
    flex: 0 0 60px;
  }
  thead th:nth-child(2),
  tbody td:nth-child(2) {
    width: 100%;
    flex: 1;
  }
  .pagination {
    justify-content: center;
  }
}
