html {
    font-size: 10px;
  }
  
  * {
    font-family: 'Pretendard', -apple-system, BlinkMacSystemFont, system-ui,
      Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR',
      'Malgun Gothic', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
      sans-serif;
  }
  
  h1 {
    font-size: 2.6rem;
    line-height: 3.9rem;
    font-weight: 700;
  }
  
  h2 {
    font-size: 2.2rem;
    line-height: 3.3rem;
    font-weight: 600;
  }
  
  h3 {
    font-size: 1.8rem;
    line-height: 2.7rem;
    font-weight: 500;
  }
  
  h4 {
    font-size: 1.6rem;
    line-height: 2.4rem;
    font-weight: 500;
  }
  
  h5 {
    font-size: 1.4rem;
    line-height: 2.1rem;
    font-weight: 500;
  }
  
  h6 {
    font-size: 1.2rem;
    line-height: 1.8rem;
    font-weight: 500;
  }
  