.spinner {
  position: absolute;
  top: 50vh;
  left: 50vw;
  padding: 20px;
  width: 160px;
  height: 160px;
  animation: spin 2s linear infinite;
}

.spinner svg {
  border-radius: 50%;
  padding: 8px;
}

.seed {
  fill: var(--color-yellow-normal);
  background: #ead6271a;
}

.sprout {
  fill: var(--color-orange-dark);
  background: #f576001a;
}

.leaf {
  fill: var(--color-purple-normal);
  background: #9261e11a;
}

.tree {
  fill: var(--color-pri-normal);
  background: #40b8831a;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}