/* 이 안의 CSS 파일은 모달 박스의 템플릿이므로, 수정은 가급적 제한합니다.
*  추가로 모달 박스 헤더와 내용 스타일을 주고 싶으면, 본인 작업 폴더에 모달 관련 CSS 생성 후, import 방식을 사용
*  각 개인의 모달에는 다른 팀원 모달 스타일에 영향을 주지 않도록 클래스명을 지정합니다.
*  import 후, 팀원을 위해 상단에 주석으로 간략한 설명 작성해주기 */ 

/* u/mileage/마일리지 기준 알아보기 + 마일리지 신청 */
@import url('/src/Pages/User/Mileage/Modal/ModalStyle.css');


/***********************************************************/
/* 모달 박스 */
.modal-box {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: transform 0.3s ease-in-out;
  z-index: 10;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  /* 초기값: 비활성화 */
  opacity: 0;
  visibility: hidden;
}

.modal-box.active {
  transform: translate(-50%, -50%) scale(1);
  /* 활성화 */
  opacity: 1;
  visibility: visible;
  /* display: block; */
}

/* 모달 박스 안 전체 컨테이너 */
.modal-box__container {
  width: 444px;
  background-color: var(--color-white);
  border-radius: 8px;
  z-index: 1;
  display: flex;
  flex-direction: column;
}

/* 모달 컨테이너 헤더*/
.modal-box__header {
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* 모달 컨테이너 내용*/
.modal-box__content {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 0 16px 16px;
}

/* 모달 비활성 버튼 */
.close-modal {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
}

.close-modal:hover {
  transition: 0.2s;
  cursor: pointer;
  filter: invert(69%) sepia(12%) saturate(193%) hue-rotate(193deg) brightness(92%) contrast(89%);
}

/* 모달 생성 시, 배경 오버레이 생성 */
#modal__background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 9;
  transition: opacity 0.3s ease-in-out;
  /* 초기값: 비활성화 */
  opacity: 0;
  visibility: hidden;
}

#modal__background.active {
  /* 활성화 */
  opacity: 1;
  visibility: visible;
}

/* @media screen and (max-width: 600px) {
  .modal-box__container {
    width: 360px;
  }
} */

