.page {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  gap: 12px;
  flex: 1 0 0;
}

.page__content {
  display: flex;
  padding: 16px;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  align-self: stretch;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.page__button {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  /* margin: 24px 16px; */
}

.page__edit {
  display: flex;
  padding-bottom: 16px;
  flex-direction: column;
  align-items: center;
  gap: 2px;
  align-self: stretch;
  border-bottom: 1px solid var(--gray-05);
}

.page__edit img {
  width: 180px;
  height: 180px;
}

.page__edit .edit__btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 20px;
  gap: 8px;
}

#chooseFile {
  display: none;
}

.page__edit input {
  visibility: hidden;
}

form {
  display: flex;
  width: 100%;
  /* justify-content: center; */
}

.user__info input {
  color: var(--color-black);
}

.user__info label {
  display: flex;
  width: 190.667px;
  padding: 16px;
  align-items: center;
  flex-direction: row;
}

.user__info li {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.info__position select {
  width: 327px;
  box-sizing: border-box;
}

.info__birthday input,
.info__joinday input {
  width: 327px;
  box-sizing: border-box;
}

.table__container {
  overflow-y: auto;
  width: 100%;
  display: flex;
}

/* table {
  width: 100%;
}

thead {
  position: sticky;
  top: 0;
  background-color: var(--gray-01);
}

th {
  justify-content: center;
}

tbody td {
  display: flex;
  justify-content: center;
} */
/* tr {
  font-size: 14px;
}

th {
  font-size: var(h5);
  height: 10px;
}

tbody {
  text-align: center;
  font-size: var(h5);
}

tbody tr {
  border-bottom: 1px solid var(--gray-05);
  margin-bottom: 30px;
}

tbody td {
  vertical-align: middle;
  padding: 8px 0;
}

tbody img {
  margin-right: 20px;
} */
