:global(#contents) {
  overflow: hidden;
}

.page__event {
  display: flex;
  flex-direction: row;
  gap: 4px;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 8px;
}

.event__birthday h3 {
  margin-right: 15px;
}
.page__event,
.page__header {
  display: flex;
  align-items: center;
  align-self: stretch;
  flex: 1 0 0;
}

div .page__header {
  padding: 30px 0;
  justify-content: space-between;
}

.page__event img {
  width: 18px;
  height: 18px;
}

.total {
  color: var(--gray-07);
  font-size: var(h5);
}

.table__container {
  overflow-y: auto; /* 수직 스크롤바 추가 */
  width: 100%; /* 컨테이너의 너비를 100%로 설정 */
  display: flex;
  flex-direction: column;
  height: calc(100% - 194px);
}

.table__head {
  position: sticky;
  height: 30px;
  vertical-align: middle;
  top: 0;
  width: 100%;
  background-color: var(--color-white);
}
.head__userlist {
  /* position: sticky;
  top: 0; */
  font-size: 14px;
  width: 100%;
  height: 30px;
}

.table__body {
  max-height: 400px; /*원하는 최대 높이 설정 */
  text-align: center;
  font-size: 14px;
}

.table__tr {
  border-bottom: 1px solid var(--gray-05);
  margin-bottom: 30px;
}

.head__profileimg,
.head__name,
.head__position,
.head__email,
.head__birthday,
.head__joinday,
.head__phonenumber,
.head__button {
  vertical-align: middle;
  width: 100%;
}

.profileimg,
.name,
.position,
.email,
.birthday,
.joinday,
.phonenumber,
.button {
  border-bottom: 1px solid var(--gray-05);
  margin: 100px 0;
  vertical-align: middle;
  padding: 10px 5px;
}

.profileimg,
.head__profileimg {
  width: 15%;
}
.name,
.head__name {
  width: 7%;
}
.position,
.head__position {
  width: 5%;
}
.email,
.head__email {
  width: 20%;
}
.birthday,
.head__birthday {
  width: 12.5%;
}
.joinday,
.head__joinday {
  width: 12.5%;
}
.phonenumber,
.head__phonenumber {
  width: 18%;
}
.button,
.head__button {
  width: 10%;
}
