:global(#contents) {
  overflow: hidden;
}
.mobilever {
  display: none;
}

.page__event {
  display: flex;
  flex-direction: row;
  gap: 4px;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 8px;
}
.birthdayinfo,
.joindayinfo {
  display: flex;
  gap: 5px;
  align-items: center;
}
.event__birthday h3 {
  margin-right: 15px;
}
.page__event,
.page__header {
  display: flex;
  align-items: center;
  align-self: stretch;
  flex: 1 0 0;
}

div .page__header {
  padding: 30px 0;
  justify-content: space-between;
}

.page__event img {
  width: 18px;
  height: 18px;
}

.totalnum {
  color: var(--gray-07);
}

.table__container {
  overflow-y: auto; /* 수직 스크롤바 추가 */
  width: 100%; /* 컨테이너의 너비를 100%로 설정 */
  display: flex;
  flex-direction: column;
  height: calc(100% - 194px);
  border-collapse: collapse; /* 테두리 겹침 방지 */
  table-layout: fixed; /* 고정된 테이블 레이아웃 사용 */
}

.table__head {
  position: sticky;
  height: 30px;
  vertical-align: middle;
  top: 0;
  background-color: var(--color-white);
  font-size: 14px;
}
.head__userlist {
  font-size: 14px;
  width: 100%;
  height: 30px;
}

.table__body {
  max-height: fit-content;
  text-align: center;
  font-size: 14px;
}

.table__head th,
.table__body td {
  padding: 10px;
  text-align: center;
  white-space: nowrap; /* 텍스트 줄 바꿈 방지 */
  overflow: hidden; /* 내용이 넘칠 경우 숨김 */
  text-overflow: ellipsis; /* 넘친 텍스트 생략 표시 */
}

.table__tr {
  border-bottom: 1px solid var(--gray-05);
  margin-bottom: 30px;
}

.profileimg,
.name,
.position,
.email,
.birthday,
.joinday,
.phonenumber,
.button {
  border-bottom: 1px solid var(--gray-05);
  margin: 100px 0;
  vertical-align: middle;
  padding: 10px 5px;
  white-space: nowrap;
}

.head__profileimg,
.profileimg {
  width: 15.6%;
}

.head__name,
.name {
  width: 7%;
}
.head__position,
.position {
  width: 6%;
}
.head__email,
.email {
  width: 21%;
}
.head__birthday,
.birthday {
  width: 12.6%;
}
.head__joinday,
.joinday {
  width: 12.6%;
}
.head__phonenumber,
.phonenumber {
  width: 19.9%;
}
.head__button,
.button {
  width: 15%;
}

/* 반응형 */
/* 모바일 */
@media (max-width: 599px) {
  :global(input) {
    width: auto;
  }
  .table__head {
    display: none;
  }

  .page__event {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
    border-bottom: 2px solid var(--gray-05);
  }

  .event__birthday h3 {
    margin-right: 0;
  }

  .birthdayinfo,
  .joindayinfo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px; /* 이미지와 텍스트 사이의 간격 */
  }
}
/* 타블렛 */
@media (min-width: 600px) and (max-width: 1023px) {
  .table__body tr {
    display: table-row;
    width: auto;
  }

  .table__body td {
    display: table-cell;
    text-align: center;
  }
}
