/* global css */
.h5 {
  font-size: 1.4rem;
  line-height: 2.1rem;
  font-weight: 500;
}

/* contents */
.adminDashboard {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.card {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  padding: 16px;
}

.adminDashboard__container {
  display: flex;
  gap: 24px;
}

/* 마일리지 콘텐츠 */
.adminDashboard__mileage {
  padding: 16px;
}

.adminDashboard__mileage-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.adminDashboard__mileage-title h4 {
  color: var(--gray-06);
  fill: var(--gray-06);
  display: flex;
  align-items: center;
}

.adminDashboard__mileage-title--left {
  display: flex;
  align-items: center;
  gap: 12px;
}

.adminDashboard__mileage-title--right:hover {
  cursor: pointer;
}

.adminDashboard__mileage-title--right a {
  color: var(--gray-06);
  text-decoration: none;
}

.mileage__contents {
  width: 100%;
}

.mileage__header,
.mileage__row {
  height: 56px;
  display: flex;
  border-bottom: 1px solid var(--gray-05);
}

.mileage__title {
  flex-grow: 1;
  padding: 0 10px;
  display: flex;
  align-items: center;
}

.mileage__requester {
  width: 200px;
  padding: 0 10px;
  display: flex;
  align-items: center;
}

.mileage__request-date {
  width: 140px;
  padding: 0 10px;
  display: flex;
  align-items: center;
}
