/* global css */
.h5 {
  font-size: 1.4rem;
  line-height: 2.1rem;
  font-weight: 500;
}

/* contents */
.adminDashboard {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.card {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  padding: 16px;
}

.adminDashboard__container {
  display: flex;
  gap: 24px;
}

/* 마일리지 콘텐츠 */
.adminDashboard__mileage {
  padding: 16px;
}

.adminDashboard__mileage-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.adminDashboard__mileage-title h4 {
  color: var(--gray-06);
  fill: var(--gray-06);
  display: flex;
  align-items: center;
}

.adminDashboard__mileage-title--left {
  display: flex;
  align-items: center;
  gap: 12px;
}

.adminDashboard__mileage-title--right:hover {
  cursor: pointer;
}

.adminDashboard__mileage-title--right a {
  color: var(--gray-06);
  text-decoration: none;
}

.mileage__contents {
  width: 100%;
}

.mileage__header,
.mileage__row {
  height: 56px;
  display: flex;
  border-bottom: 1px solid var(--gray-05);
}

.mileage__title {
  flex-grow: 1;
  padding: 0 10px;
  display: flex;
  align-items: center;
}

.mileage__requester {
  width: 200px;
  padding: 0 10px;
  display: flex;
  align-items: center;
}

.mileage__request-date {
  width: 140px;
  padding: 0 10px;
  display: flex;
  align-items: center;
}

/*전자결제페이지*/
.userDashboard__approvalFilter {
  padding: 12px 0px;
}
.userDashboard__approvalContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.userDashboard__approvalTitle {
  display: flex;
  align-items: center;
  gap: 4px;
}
.userDashboard__approvalTitle > h4 {
  color: var(--gray-06);
}
.approvalTable {
  width: 100%;
}
.approvalTable__tbody {
  color: var(--gray-09);
}
.approvalTable > thead > tr > th {
  color: var(--gray-01);
  background-color: var(--color-sec-light);
}
.approvalTable > thead > tr > th,
.approvalTable > tbody > tr > td {
  text-align: left;
  padding: 12px 8px;
}
.approvalTable > tbody > tr {
  border-bottom: 1px solid var(--gray-04);
}
.approvalTable > thead > tr > th:first-child,
.approvalTable > tbody > tr > td:first-child {
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
  width: 20%;
}
.approvalTable > thead > tr > th:nth-child(2),
.approvalTable > tbody > tr > td:nth-child(2) {
  width: 50%;
}
.approvalTable > thead > tr > th:nth-child(3),
.approvalTable > tbody > tr > td:nth-child(3) {
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
  width: 30%;
}
.approvalTable > thead > tr > th:nth-child(4),
.approvalTable > tbody > tr > td:nth-child(4) {
  display: none;
}

/* 테블릿 버전 */
@media screen and (max-width: 900px) {
  .mileage__requester {
    width: 80px;
  }
  .mileage__request-date {
    width: 120px;
  }
}

/* 모바일 버전 */
@media screen and (max-width: 600px) {
  .mileage__requester {
    width: 50px;
  }
  .mileage__request-date {
    width: 70px;
  }
  .adminDashboard__mileage-title--left h4 {
    display: none;
  }

  .approvalTable > thead > tr > th:nth-child(2),
  .approvalTable > tbody > tr > td:nth-child(2),
  .approvalTable > thead > tr > th:nth-child(3),
  .approvalTable > tbody > tr > td:nth-child(3) {
    display: none;
  }
  .approvalTable > thead > tr > th:nth-child(4),
  .approvalTable > tbody > tr > td:nth-child(4) {
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    width: 100%;
    display: block;
  }
}
