.error-404__container {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    background-image: url('/public/images/error-404.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.error-404__inner {
    text-align: center;
    background-color: var(--color-white);
    width: 100%;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.error-404__inner h1 {
    font-size: 4.8rem;
}

.error-404__inner h4 {
    color: var(--gray-08);
}

.error-404__inner button {
    font-size: 2.0rem;
    width: 180px;
    margin-top: 10px;
}