div.contents {
  display: flex;
  padding: 16px 24px;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  flex: 1 0 0;
  align-self: stretch;
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: var(--1, 8px);
  align-items: flex-start;
  align-self: stretch;
}
.content__row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--1, 8px);
  align-items: center;
  align-self: stretch;
}
.tabs {
  display: flex;
  width: var(--xs, 444px);
  align-items: flex-start;
}
.tab-content {
  display: none;
}
.tab-content.active {
  display: block;
}
.tablink {
  flex: none;
  padding: 10px 20px;
  cursor: pointer;
  border: none;
  background-color: transparent !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.tablink.active {
  color: var(--color-pri-light, #64c99c);
  border-bottom: 4px solid var(--color-pri-light, #64c99c);
}
.paymentRequest {
  margin-left: outo;
  display: flex;
  border: none;
  padding: 6px 16px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  border-radius: var(--borderRadius, 4px);
  background: var(--pri-normal, #40b883);
  color: var(--gray-01, #fcfcfc);
}
.paymentRequest:hover {
  background-color: var(--pri-dark, #39a374);
  cursor: pointer;
}

.close__btn {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}
label {
  text-align: left;
}
.modal__content {
  margin: 15% auto;
  border: 1px solid var(--gray-07, #8a8d93);
  width: 80%;
  max-width: 500px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  padding: 20px;
}
.close__btn {
  color: var(--gray-07, #8a8d93);
  float: right; /*오른쪽으로 정렬*/
  font-size: 28px;
  font-weight: bold; /*글자 굵기 : 굴은 글꼴 */
  cursor: pointer;
}

.close__btn:hover,
.close__btn:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal h2 {
  margin-top: 0;
}

.modal label {
  display: block;
  margin-top: 10px;
}

input[type="text"],
.modal select,
textarea,
input[type="date"] {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  box-sizing: border-box;
  border: 1px solid var(--gray-04);
  border-radius: 4px;
}

textarea {
  resize: none;
}

.data__container {
  display: flex;
  align-items: center;
}

.submit__Btn {
  background: var(--pri-normal, #40b883);
  color: var(--gray-01, #fcfcfc);
  padding: 15px 20px;
  margin-top: 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  font-size: 16px;
}
.submit__Btn:hover {
  background-color: var(--pri-dark, #39a374);
  cursor: pointer;
}
.tab_content {
  width: 100%;
  display: none;
}
.tab_content.active {
  display: block;
}
table {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  align-self: stretch;
}
table thead {
  display: flex;
  height: 38px;
  padding: var(--none, 0px) 12px;

  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  text-align: left;

  border-radius: 6px;
  background: var(--pri-normal, #40b883);
  color: var(--gray-01, #fcfcfc);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.06);
}
.title {
  display: flex;
}
table tr {
  width: 100%;
}
.menu__type {
  width: 120px;
}
.menu__title {
  flex: 1 0 0;
}
.menu__reason {
  flex: 1 0 0;
}
.menu__date {
  width: 160px;
}

tbody {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: flex-start;
  align-self: stretch;
}

tbody tr {
  display: flex;
  width: 100%;
  gap: 12px;
  align-items: center;
}

tbody tr.title {
  display: flex;
  height: 38px;
  padding: 0px 12px;
  justify-content: space-between;
  align-items: center;
  text-align: left;
  border-radius: 6px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.06);
}

tbody td {
  flex: 1 0 0;
  padding: 12px;
  border-bottom: 1px solid var(--gray-04);
}

tbody td:first-child {
  flex: none;
  width: 90px;
}
tbody td:last-child {
  flex: none;
  width: 160px;
}

.pagination {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.pagination button {
  background: none;
  border: none;
}
.pageNumber__btn.active {
  /*width: 32px;
  padding: var(--none, 6px) var(--none, 0px);*/
  background: var(--pri-normal, #40b883);
  color: var(--gray-01, #fcfcfc);
}
.detailmodal__content {
  display: flex;
  padding: var(--none, 0px) 12px;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  gap: 12px;
  height: 38px;
  border-radius: var(--borderRadius, 4px);
  border: var(--none, 1px) solid var(--gray-06);
}
.modalHidden {
  display: none;
}
/* 미디어 쿼리 */
@media (max-width: 600px) {
  .menu__date,
  tbody td:last-child {
    display: none;
  }
  tbody td {
    border: none;
  }
  tbody tr {
    border-bottom: 1px solid var(--gray-04);
  }
  .pagination {
    justify-content: center;
  }
}
